*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

body{
	background-color: #f0f0f0;
	width:100%;
}
header{
	display: flex;
	flex-direction: row;
/*	position: fixed;*/
	justify-content: space-between;
	align-content: center;
	position: fixed;
	top: 0;
	align-items: center;
	font-family: Roboto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100% !important;
	height:80px;
	box-shadow: 0px 0px 1px #8c8c8c;
	background-color: #002219;
	z-index: 1000;
}
.headeritems{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
color: white;
font-size: 0.8em;
font-weight: 100;
text-transform: capitalize;
}

.logo{
	width:100%;
}




form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}



.main_header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	margin-top: 70px;
	background-color: white;
/*	padding-left: 180px;*/
	height: 180px;

}
.main_header_h1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width:65%;

}
.main_header_h1 h1{
	font-size: 55px;
}

.main_body1{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 10px;
	gap: 20px;
	padding: 25px;
	width: 65%;
	background-color: white;
}

.main_body1 img{
	height: 80px;
}


.inputsform{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.inputsform_paragraph{
	justify-self: flex-start;
	align-self: flex-start;
	font-size: 20px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
}
.horizontalrule{
	width: 100%;
	background-color: lightgray;
	height: 1px;
	border: none;
}

.main_body_inputs_form{
	display: flex;
	flex-direction: column;
	justify-content: center ;
	align-items: center;
	align-content: center;
	width: 55%;
}


.main_body_inputs_form label{
	justify-self: flex-start;
	align-self: flex-start;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
}

.main_body_inputs_form input{
	height: 45px;
	width: 100%;
	border-radius: 60px;
	border:0.2px solid black;
	padding-left: 25px;
	padding-right: 25px;
	font-size:15px !important;
	text-transform: capitalize;
	box-shadow: 0px 0px 4px 0px #a8a8a8 ;
}

.main_body_inputs_form input:focus{
	outline: 2px solid #1fab2e ;
}
.main_body_inputs_form input:hover{
box-shadow: 0px 0px 28px 5px #dadada;
transform: scale(1.0);

}





.inputsform button{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 50px;
	justify-self: flex-end;
	align-self: flex-end;
	margin-right: 30px;
	height: 45px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 60px;
	font-weight: 800;
	border: none;
	background-color: #191919;
	color: white;
	text-transform:capitalize;
	font-size: 17px;
}


.inputsform button:hover{

	outline: 2px solid #1fab2e !important;
/*	background-color: #1fab2e;*/
}
.inputsform button:focus{
	background-color: #1fab2e;;
}


.successpart{
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
}
.successpartitems{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
}
.successpartitems h2{
font-size: 1.1em !important;
font-weight: 300 ;

}
.successpartitems img{
	width: 70px;
  height: 130px;
  object-fit: fill;
}

footer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	color: white;
/*	border-radius: 120px 50px 0px 0px;*/
/*	background-color: #002219;*/
	width: 100%;
	bottom: 0;
	margin-top: 200px;
	padding-bottom: 80px;
	gap: 50px;
/*	height:350px;*/
padding-top: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1280' height='1280' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40.577C209.556 13.803 423.166 0 640 0s430.444 13.803 640 40.577V1279H0V40.577z' fill='%23002219' fill-rule='evenodd'/%3E%3C/svg%3E");
}


.footerlisting{
	display: flex;
	flex-direction: row;
	gap: 80px;
}

.footerlist{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	justify-items: flex-start;
	align-items: flex-start;
	gap: 20px;
}

.footerlist p {
	font-weight: 100;
	color:gray;

}
.footerlist h4{
	font-weight:600;
	letter-spacing: 1px;
}




footer img{
	width:150px;
}

/*//////////LOADER/////////////////*/
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #57e856; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*//////////LOADER END HERE/////////////*/

/*//////////////SUCCESS/////////////////*/
.dummy-positioning {
	 width: 100%;
	 height: 100vh;
	 align-items: center;
	 justify-content: center;
}
 .success-icon {
	 display: inline-block;
	 width: 8em;
	 height: 8em;
	 font-size: 20px;
	 border-radius: 50%;
	 border: 4px solid #96df8f;
	 background-color: #fff;
	 position: relative;
	 overflow: hidden;
	 transform-origin: center;
	 animation: showSuccess 180ms ease-in-out;
	 transform: scale(1);
}
 .success-icon__tip, .success-icon__long {
	 display: block;
	 position: absolute;
	 height: 4px;
	 background-color: #96df8f;
	 border-radius: 10px;
}
 .success-icon__tip {
	 width: 2.4em;
	 top: 4.3em;
	 left: 1.4em;
	 transform: rotate(45deg);
	 animation: tipInPlace 300ms ease-in-out;
	 animation-fill-mode: forwards;
	 animation-delay: 180ms;
	 visibility: hidden;
}
 .success-icon__long {
	 width: 4em;
	 transform: rotate(-45deg);
	 top: 3.7em;
	 left: 2.75em;
	 animation: longInPlace 140ms ease-in-out;
	 animation-fill-mode: forwards;
	 visibility: hidden;
	 animation-delay: 440ms;
}
 @keyframes showSuccess {
	 from {
		 transform: scale(0);
	}
	 to {
		 transform: scale(1);
	}
}
 @keyframes tipInPlace {
	 from {
		 width: 0em;
		 top: 0em;
		 left: -1.6em;
	}
	 to {
		 width: 2.4em;
		 top: 4.3em;
		 left: 1.4em;
		 visibility: visible;
	}
}
 @keyframes longInPlace {
	 from {
		 width: 0em;
		 top: 5.1em;
		 left: 3.2em;
	}
	 to {
		 width: 4em;
		 top: 3.7em;
		 left: 2.75em;
		 visibility: visible;
	}
}
 

/*////////////ENDOFSUCCESS//////////////*/






@media (max-width:700px){
	.main_header_h1 h1{
	font-size: 35px;
}

.main_body1{
	width: 95%;
}
.main_body1 img{
	height:130px;
}
.main_body_inputs_form{
	width:100%;
}
.inputsform button{
	align-self: center;
	margin-top: 10;
	margin-right: 0;
	width: 60%;
}

footer{
	margin-top: 300px;
}

.footerlist{
	display: none;
}
.main_body_inputs_form input:focus{
	border:2px solid #1fab2e;
	outline: none;
}

}